body {
    font-family:cursive;
    background-image:url(Image/arab_tile.png);
    color:black;
    font-size:35px;
}
header {
    background-color: black;
    text-align: center;
    max-width:100%;
    margin:auto;
    margin-bottom: 20px;
    height: 50px;
}


main {
    background-color:currentColor;
    text-align: center;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 50px;
}

a {
    color:white;
    font-size:24px;
    text-decoration:none;
    font-family: fantasy;
}

#navigation a {
    padding: 4px 10px;
    font-weight: bold;
    text-decoration: none;
    color: grey;
}
        

footer {
    background-color:black;
    text-align: center;
    max-width: 1000px;
    margin-left: 332px;
    position:fixed;
    width:100%;
    bottom:0;
}

   

    
